.status-bar {
  display: flex;
  justify-content: space-between;
}

#quote {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

#quote span:first-child {
  font-size: 20px;
  width: 33%;
}

#quote span:last-child {
  font-size: 15px;
}

#weather {
  font-size: 15px;
}
