.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo-form input {
  border-radius: 5px;
  border: 0px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

#todo-list span {
  padding: 30px;
  font-size: 20px;
}
